.courses, .students, .feedback {
    .owl-prev, .owl-next {
        position: absolute;
        top: 30%;
        left: -2.5%;
        width: 45px;
        height: 45px;
        border-radius: 50%!important;
        background-color: $color-white-0!important;
        box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
        &:focus {
            outline: none;
        }
        span {
            @include styleText($fs-4, $color-blue, $fw-normal);
            line-height: 0.6;
        }
    }
    
    .owl-next {
        left: unset;
        right: -4%;
    }
    .owl-dots {
        display: none;
    }
}

.students {
    .owl-prev {
        left: -1.5%;
    }
    .owl-next {
        left: unset;
        right: -2%;
    }
}

.feedback {
    .owl-next {
        left: unset;
        right: -2.5%;
    }
    @include responsive('small') {
        .owl-prev, .owl-next {
            opacity: 0;
            display: none;
        }
        .owl-dots {
            display: block;
            transform: translateY(-35%);
        }
    }
}
